* {
	margin: 0;
	padding: 0;
}

.nameError, .emailError, .usernameError, .passwordError, .cPasswordError {
	font-size: 12px;
}

body {
	padding: 20px;
	background-color: black;
	color: #DD931B;
	font-family: "Montserrat ExtraLight";
	height: 100vh;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: "l r" ;
}

.loginForm {
	width: 350px;
	margin-left: 200px;
	margin-top: 100px;
	padding: 10px;
	/*position: relative;
	top: 20px;*/
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	display: inline-block;
	grid-area: l;
	background-color: white;
	grid-column-start: 1;
	grid-column-end: 2;

}

.formElements {
	margin: 70px 25px 30px 25px;
}

.right {
	grid-area: r;
	grid-column-start: 2;
	grid-column-end: 3;
	margin-top: 100px;
	padding-top: 150px;
	padding-left: 100px;
}

div span {
	margin-left: 50px;
}

img {
	height: 40px;
	width: 150px;
	display: block;
}

a {
	color: #DD931B;
}

a:hover {
	color: blue;
}

h3{
	margin-bottom: 15px;
	font-size: 25px;
}

input {
	position: relative;
	display: block;
	margin-bottom: 20px;
	width: 290px;
	height: 30px;
	padding: 5px;
	padding-left: 10px;
	/*border-top: none;
	border-right: none;*/
	border-radius: 15px;
	background-color: #ebedef;
	border: 1px solid transparent;
}



::placeholder {
	color: black;
	font-family: "Montserrat Bold"
}

input[submitBtn] {
	display: inline;
	background-color: #DD931B;
	border-radius: 12px;
	border: 1px solid transparent;
	padding: 5px;
	width: 70px;
	margin-right: 20px;
	margin-left: 5px;
	color: white;
	font-family: "Montserrat Bold";
	font-size: 16px;
}

input[submitBtn]:hover {
	color: black;
	cursor: pointer;
}

/*#logo {	
	padding-top: 200px;
	width: 200px;
	/*position: relative;*
	margin-left: 200px;
/*	text-align: right;
*
}*/

span {
	font-family: "Montserrat ExtraLight";
	color: white;
	letter-spacing: 5px;
	font-size: 15px;
}


/*.left{
	float: left;
	clear: both;
}

.right{
	float: right;
	width: 100px;
/*	clear: both;
*
}*/















